/*CSS reset settings here*/
*{ 
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px 20px;
    overflow: auto;
   }
   #header{
    min-height: 150px;
    background-color: green;
    margin: 20px;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    float: left;
    margin: 15px;
   }
   #main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    padding: 10px;
    float: right;
    
    }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    margin-left: 5px;
    margin-bottom: 15px;
    display: inline-block;
   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    padding: 10px;
   }
   